/* Светлая тема : начало */
/*
Цвета SVG-иконок задаются в SCSS, т.к. в css их нужно вставлять
строкой в "backround-image: url(data:image/svg+xml, ...строка...)"
в правильном формате, а цвет указывается внутри этой строки.
SCSS автоматически генерирует эту строку для каждой иконки и каждого его состояния.
*/
/* 
Но так же кастомизация цвета SVG-иконок работает через CSS, при условии,
что мы вставили иконки непосредственно в HTML-код в нужном месте.
Пример в разделе CSS -> NAVBAR -> "menu - визуальное оформление" и html-коде
*/
$menu-item-icon-color: #7a7b7b;
$menu-item-icon-color-hover: #6666cc;
$menu-item-icon-color-active: #6666cc;

$breadcrumbs-color: "#656565";
$breadcrumbs-split-svg-color: $breadcrumbs-color;
:root {
	--body-bg-color: #f8faff;
	--body-font-color: #7d7d7d;
	--links-font-color: #6666cc;
	--links-font-color-active: #343434;

	--headings-font-color: #343434;

	--outline-color: #4bf;
	--links-outline-color: #08f;

	/* Скроллбар страницы - начало */
	--page-scrollbar-track-color: #e4e4e4;
	--page-scrollbar-thumb-color: #b1b1b1;

	--breadcrumbs-font-color: #{$breadcrumbs-color};
	--breadcrumbs-font-color-hover: #0d6efd;
	--breadcrumbs-font-color-active: #0d6efd;
	--breadcrumbs-font-color-current: #6666cc;
}
/* ========== Цвета в кнопках- начало ========== */
$btn-icon-color: #fff;
$btn-icon-color-hover: #fffc;
$btn-icon-color-active: #fffa;
:root {	
	/* Текст в кнопке */
	--btn-font-color: #fff;
	--btn-font-color-hover: #fff;
	--btn-font-color-active: #fff;
	--btn-font-color-disabled: #777;
	/* Иконка в кнопке */
	--btn-icon-color: #{$btn-icon-color};
	/* SVG-иконка кнопки */
	--btn-icon-color-hover: #{$btn-icon-color-hover};
	/* SVG-иконка кнопки при наведении */
	--btn-icon-color-active: #{$btn-icon-color-active};
	/* SVG-иконка кнопки при остальном интерактиве */
}
/* ========== Цвета в кнопках - конец ========== */
/* ========== Цвета в ФОРМАХ - начало ========== */
:root {
	--form-label-font-color: #343434;
	/*  */
	--form-select-font-color: #7c7c7c;
	--form-select-bg-color: #fff;
	--form-select-brd-color: #cdcdcd;
	/*  */
	--form-control-font-color: #7d7d7d;
	--form-control-bg-color: #e6e6e9;
	--form-control-brd-color: #e6e6e9;
	/*  */
	--form-control-font-color-focus: #343434;
	--form-control-bg-color-focus: #fff;
	--form-control-brd-color-focus: #e6e6e9;
	/*  */
	--input-group-text-font-color: #fff;
	--input-group-text-bg-color: #6666cc;
}
/* ========== Цвета в ФОРМАХ - конец ========== */
/* ========== Цвета в userbar - начало ========== */
$userbar-icon: #7b7b7b;
$userbar-icon-hover: #6666cc;
$userbar-icon-active: #0d6efd;
$notice-outer: #fbf4f4;
$notice-inner: #ff2121;
$notice-outer-hover: #fbf4f4;
$notice-outer-active: #fbf4f4;
$notice-inner-hover: #fd7e14;
$notice-inner-active: #ffc107;
:root {	
	--userbar-brd-color: #d4d4d4;
	--userbar-bg-color: #f8faff;
	/*  */
	--userbar-box-brd-color: #d4d4d4;
	--userbar-box-bg-color: #fff;
	--userbar-box-shadow: rgba(136, 167, 245, 0.18);
	--userbar-box-shadow-hover: rgba(136, 167, 245, 0.5);
	--userbar-box-shadow-active: rgba(136, 167, 245, 0.5);
	--userbar-font-color: #7d7d7d;
	--userbar-font-color-hover: #7d7d7d;
	--userbar-font-color-active: #7d7d7d;
	/*  */
	--userbar-icon: #{$userbar-icon};
	/* SVG-иконка в userbar */
	--userbar-icon-hover: #{$userbar-icon-hover};
	/* SVG-иконка в userbar при наведении */
	--userbar-icon-active: #{$userbar-icon-active};
	/* SVG-иконка в userbar при остальном интерактиве */
}
/* ========== Цвета в userbar - конец ========== */
/* ========== Цвета в managebox - начало ========== */
:root {
	--managebox-bg-color: #fff;
	--managebox-box-shadow: rgba(40, 40, 40, 0.07);
	--managebox-links-font-color: #6e6e6e;
	/* Таблица */
	--table-row-split-color: #e4e4e4;
}
/* ========== Цвета в managebox - конец ========== */
/* ========== Цвета в модальном окне - начало ========== */
$warningbox-icon-color: #6666cc;
:root {
	--modal-box-shadow-color: rgba(37, 37, 37, 0.1);
	--modal-content-bg-color: #fff;
	--warningbox-font-color: #7d7d7d;
}
/* ========== Цвета в модальном окне- конец ========== */
:root {
	/* ========== Цвета в NAVBAR - начало ========== */
	--navbar-box-shadow-color: rgba(136, 167, 245, 0.08);
	/* Цвет тени navbar'a */
	--navbar-bg-color: #fff;
	/* Цвет фона navbar'a */
	--menu-inset-shadow-color: #ffff;
	/* Плавное перетекание по краям внутри меню №1 */
	--menu-overflow-gradient-color: #ffff;
	/* Плавное перетекание по краям внутри меню №2 */
	/* ===== Пункты меню - начало ===== */
	/* В состоянии hover */
	--menu-item-decorator-bg-color-hover: #6666cc;
	/* Цвет фона декоратора пункта */
	--menu-item-decorator-shadow-color-hover: rgba(102, 102, 204, 0.67);
	/* Тень декоратора пункта */
	/* При остальном интерактиве */
	--menu-item-decorator-bg-color-active: #6666cc;
	/* Цвет фона декоратора пункта */
	--menu-item-decorator-shadow-color-active: rgba(102, 102, 204, 0.67);
	/* Тень декоратора пункта */
	--menu-item-font-color: #7d7d7d;
	/* Текст пункта */
	--menu-item-font-color-hover: #343434;
	/* Текст пункта при наведении */
	--menu-item-font-color-active: #343434;
	/* Текст пункта при остальном интерактиве */
	/*
	* Кастомизация цвета svg-иконок работает, когда мы вставили их непосредственно в html-код
	* (пример в разделе CSS -> NAVBAR -> "menu - визуальное оформление")
	* Иначе цвет меняем через SCSS!
	*/
	--menu-item-icon-color: #{$menu-item-icon-color};
	/* SVG-иконка пункта */
	--menu-item-icon-color-hover: #{$menu-item-icon-color-hover};
	/* SVG-иконка пункта при наведении */
	--menu-item-icon-color-active: #{$menu-item-icon-color-active};
	/* SVG-иконка пункта при остальном интерактиве */
	/* ===== Пункты меню - конец ===== */

	/* ===== Кнопка переключения меню - начало ===== */
	--burger-lines-color: #fd7e14;
	--burger-font-color: #fd7e14;
	/* Когда меню в раскрытом состоянии, JS добавляет кнопке класс is-active - */
	--burger-lines-color-isactive: #55c97b;
	--burger-font-color-isactive: #55c97b;
	/* Интерактивные состояния - они приоритетнее, чем JS-состояние is-active - */
	--burger-lines-color-hover: #6666cc;
	--burger-font-color-hover: #6666cc;
	--burger-lines-color-active: #0d6efd;
	--burger-font-color-active: #0d6efd;
	/* ===== Кнопка переключения меню - конец ===== */

	/* ===== Скроллбар в меню - начало ===== */
	/* В firefox не полностью работает (нет кастомизации стрелок и цвета ползунка в состоянии hover и active) */
	--navbar-scrollbar-track-color: #e4e4e4;
	/* Полоса */
	--navbar-scrollbar-thumb-color: #55c97b;
	/* Ползунок */
	--navbar-scrollbar-thumb-color-hover: #6666cc;
	/* Состояние-hover для ползунка (без ff) */
	--navbar-scrollbar-thumb-color-active: #0d6efd;
	/* Состояние-active для ползунка (без ff) */
	--navbar-scrollbar-arrows-color: #55c97b;
	/* Стрелки (без ff) */
	/* Интерактивные состояния: */
	--navbar-scrollbar-arrows-color-hover: #6666cc;
	/* Состояние-hover для стрелок (без ff) */
	--navbar-scrollbar-arrows-color-active: #0d6efd;
	/* Состояние-active для стрелок (без ff) */
	/* ===== Скроллбар в меню - конец ===== */
	/* ========== Цвета в NAVBAR - конец ========== */
}
/* SVG-иконки в светлой теме - начало */
/* Иконки в меню - начало */
@include menu-iconed($menu-item-icon-color); // Цвета иконок меню
@include menu-iconed-interactive($menu-item-icon-color-hover, $menu-item-icon-color-active); // Цвета иконок меню в интерактивном состоянии
/* Иконки в меню - конец */
/* Иконки в панели пользователя - начало */
@include userbar-iconed($userbar-icon); // Цвет иконки конверта
@include userbar-iconed-interactive($userbar-icon-hover, $userbar-icon-active); // Цвет иконки конверта в интерактиве
@include markered($notice-outer, $notice-inner); // Цвет МАРКЕРА над иконкой конверта
@include markered-interactive($notice-outer-hover, $notice-outer-active, $notice-inner-hover, $notice-inner-active); // Цвет МАРКЕРА над иконкой конверта в интерактиве
/* Иконки в анели пользователя - конец */
/* Иконки в кнопках - начало */
@include buttons-iconed($btn-icon-color); // Цвет иконок внутри кнопок
@include buttons-iconed-interactive($btn-icon-color-hover, $btn-icon-color-active); // Цвет иконок внутри кнопок при интерактиве
/* Иконки в кнопках - конец */
/* Иконки-разделители - начало */
@include breadcrumbs-iconed($breadcrumbs-split-svg-color); // Цвет разделителя "хлебных крошек"
/* Иконки-разделители - конец */
/* Иконки внутри контент-блоков - начало */
@include warningbox-iconed($warningbox-icon-color); // Цвет иконки восклицательного знака в кружке
/* Иконки внутри контент-блоков - конец */
/* Иконки взаимодействия с модальными окнами - начало */
@include btn-close-iconed("#656565"); // Цвет иконки кнопки закрытия (пример в модальном окне)
@include btn-close-iconed-interactive("#656565"); // Цвет иконки кнопки закрытия (пример в модальном окне)
/* Иконки взаимодействия с модальными окнами - конец */
/* SVG-иконки в светлой теме - конец */

/* Светлая тема- конец */
