<div class="navbar scrollbar-on fixed-on">
	<div class="ctrls-wrap">
		<div class="burgerbox">
			<button class="navbar__toggler btn--burger" aria-label="Меню">
				<span class="icon"></span>
				<span class="text">МЕНЮ</span>
			</button>
		</div><!-- / .burgerbox -->
	</div>
	<!-- / .ctrls-wrap -->

	<div class="nav-wrap">
		<div class="nav__header">
			<div class="logo">
				<a href="/">
					<img src="@img/logo.svg" alt="Логотип" />
				</a>
			</div>
		</div>
		<!-- / .nav__header -->
		<nav class="nav__body">
			<ul class="menu">
				<li>
					<a class="menu__link iconed--home" href="#">
<!-- Пример иконки вставкой: -->

<!-- <i class="icon">
	<svg fill="currentColor">
		<use xlink:href="@img/svgsprites/svgsprites.svg#home"></use>
	</svg>
</i> -->
						
						<span>Главная</span>
					</a>
				</li>
				<li>
					<a class="menu__link iconed--shopcart" href="#">
						<span>Мои магазины</span>
					</a>
				</li>
				<li>
					<a class="menu__link iconed--megaphone" href="#">
						<span>Промоматериалы</span>
					</a>
				</li>
				<li>
					<a class="menu__link iconed--piechart" href="#">
						<span>Статистика</span>
					</a>
				</li>
				<li>
					<a class="menu__link iconed--wallet" href="#">
						<span>Баланс</span>
					</a>
				</li>
				<li>
					<a class="menu__link iconed--profile" href="#">
						<span>Персональные данные</span>
					</a>
				</li>
				<li>
					<a class="menu__link iconed--info" href="#">
						<span>FAQ</span>
					</a>
				</li>
				<li>
					<a class="menu__link iconed--support" href="#">
						<span>Техподдержка</span>
					</a>
				</li>
				<li>
					<a class="menu__link iconed--logout" href="#">
						<span>Выход</span>
					</a>
				</li>
			</ul>
		</nav>
		<!-- / .nav__body -->
	</div>
	<!-- / .nav-wrap -->
</div>
<!-- / .navbar -->