<div class="navbar scrollbar-on">
	<div class="ctrls-wrap">
		<div class="burgerbox">
			<button class="navbar__toggler btn--burger" aria-label="Меню">
				<span class="icon"></span>
				<span class="text">МЕНЮ</span>
			</button>
		</div>
	</div>
	<!-- / .ctrls-wrap -->

	<div class="nav-wrap">
		<div class="nav__header">
			<div class="logo">
				<a href="/">
					<img src="@img/logo.svg" alt="Логотип" />
				</a>
			</div>
		</div>
		<!-- / .nav__header -->
		<div class="nav__body">
			<nav class="nav">
				<ul class="menu">
					<li>
						<a class="menu__link iconed icon--home" href="index.html">
							<svg class="icon" fill="currentColor">
								<use
									xlink:href="@img/svgsprites/svgsprites.svg#home"
								></use>
							</svg>
							<span>Главная</span>
						</a>
					</li>
					<li>
						<a class="menu__link iconed icon--shop-cart" href="#">
							<svg class="icon" fill="currentColor">
								<use
									xlink:href="@img/svgsprites/svgsprites.svg#shop-cart"
								></use>
							</svg>
							<span>Мои магазины</span>
						</a>
					</li>
					<li>
						<a class="menu__link iconed icon--megaphone" href="#">
							<svg class="icon" fill="currentColor">
								<use
									xlink:href="@img/svgsprites/svgsprites.svg#megaphone"
								></use>
							</svg>
							<span>Промоматериалы</span>
						</a>
					</li>
					<li>
						<a class="menu__link iconed icon--pie-chart" href="#">
							<svg class="icon" fill="currentColor">
								<use
									xlink:href="@img/svgsprites/svgsprites.svg#piechart"
								></use>
							</svg>
							<span>Статистика</span>
						</a>
					</li>
					<li>
						<a class="menu__link iconed icon--wallet" href="#">
							<svg class="icon" fill="currentColor">
								<use
									xlink:href="@img/svgsprites/svgsprites.svg#wallet"
								></use>
							</svg>
							<span>Баланс</span>
						</a>
					</li>
					<li>
						<a class="menu__link iconed icon--profile" href="#">
							<svg class="icon" fill="currentColor">
								<use
									xlink:href="@img/svgsprites/svgsprites.svg#profile"
								></use>
							</svg>
							<span>Персональные данные</span>
						</a>
					</li>
					<li>
						<a class="menu__link iconed icon--info" href="#">
							<svg class="icon" fill="currentColor">
								<use
									xlink:href="@img/svgsprites/svgsprites.svg#info"
								></use>
							</svg>
							<span>FAQ</span>
						</a>
					</li>
					<li>
						<a class="menu__link iconed icon--support" href="#">
							<svg class="icon" fill="currentColor">
								<use
									xlink:href="@img/svgsprites/svgsprites.svg#support"
								></use>
							</svg>
							<span>Техподдержка</span>
						</a>
					</li>
					<li>
						<a class="menu__link iconed icon--logout" href="#">
							<svg class="icon" fill="currentColor">
								<use
									xlink:href="@img/svgsprites/svgsprites.svg#logout"
								></use>
							</svg>
							<span>Выход</span>
						</a>
					</li>
				</ul>
			</nav>
		</div>
		<!-- / .nav__body -->
	</div>
	<!-- / .nav-wrap -->
</div>
<!-- / .navbar -->