/* -------------------- plain sight (место посадки для элементов, которые всегда на виду) : начало -------------------- */
.plainsight-wrap {
	position: absolute;
	inset: auto 0;
	z-index: 1;
	width: 100%;
}
.plainsight {
	position: relative;
	display: flex;
	opacity: 0;
	transition-duration: var(--navbar-toggle-duration, 0.5s);
	transition-property: opacity, background-color;
	&.is-visible {
		opacity: 1;
	}
	@include bp($navbar-bp1) {}
	@include bp($navbar-bp2) {
		&.is-visible {
			opacity: 0;
		}
	}
}
/* -------------------- plain sight : конец -------------------- */